html, body, div, span, p, ul, li, ol, label, h1, h2, h3, h4, h5, h6, section {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.p0 {
  padding: 0;
}

.pr0 {
  padding-right: 0;
}

.pl0 {
  padding-left: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl15 {
  padding-left: 15px;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.ml0 {
  margin-left: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.pt40 {
  padding-top: 40px;
}

.pt80 {
  padding-top: 80px;
}

.pt30 {
  padding-top: 30px;
}

.pr30 {
  padding-right: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.mt30 {
  margin-top: 30px;
}

.mr30 {
  margin-right: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt60 {
  margin-top: 60px;
}

.mt80 {
  margin-top: 80px;
}

.btn-plain {
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-plain:hover, .btn-plain:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

button a {
  color: inherit;
}

button a:hover, button a:focus {
  text-decoration: none;
  color: inherit;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.logo-box {
  display: inline-block;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex-justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-flex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section a:hover, section a:focus {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: 'SF Pro Middle';
  src: url("../fonts/sf-pro/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: 'SF Pro Bold';
  src: url("../fonts/sf-pro/SF-Pro-Display-Bold.otf");
}

body {
  font-family: 'SF Pro Display';
  font-size: 14px;
  background-color: white;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'SF Pro Bold';
}

p {
  font-family: 'SF Pro Display';
  font-weight: normal;
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  max-width: 50px;
}

.navbar-collapse {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-nav li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  padding: 10px 20px;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
  background-color: transparent;
  color: #333333;
}

.label-search {
  background: #EEEEEE;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  width: 370px;
  padding: 10px 15px;
  float: right;
}

.label-search input {
  font-weight: normal;
  background-color: transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.label-search input::-webkit-input-placeholder {
  color: #888888;
}

.label-search input::-moz-placeholder {
  color: #888888;
}

.label-search input:-ms-input-placeholder {
  color: #888888;
}

.label-search input::-ms-input-placeholder {
  color: #888888;
}

.label-search input::placeholder {
  color: #888888;
}

header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 5px 13px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 5px 13px rgba(0, 0, 0, 0.05);
}

header .navbar {
  margin-bottom: 0;
}

.main {
  position: relative;
  min-height: 400px;
  padding-top:50px;
}

.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-caption {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}

.main-caption h1 {
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 22px;
}

.main-caption p {
  font-size: 17px;
  line-height: 140%;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.bg-grey {
  background: rgba(229, 229, 229, 0.24);
}

.type-cover {
  padding: 50px 55px 20px 55px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  position: relative;
  top: -50px;
}

.type-cover h2 {
  color: #222222;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 50px;
}

.type-item {
  position: relative;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  height: 190px;
  background-color: black;
}

.type-item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.type-item-img {
  width: 100%;
  height: 100%;
}

.type-item-img img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.type-item-caption {
  overflow: hidden;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.type-item-caption h3 {
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.description-base-img {
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  height: 300px;
}

.description-base-img img {
  max-width: 200px;
  margin: 40px auto;
}

.description-base-caption {
  padding-left: 30px;
  padding-top: 20px;
}

.description-base-caption h2 {
  font-size: 40px;
  line-height: 100%;
  color: #222222;
  margin-bottom: 30px;
}

.description-base-caption p {
  font-size: 17px;
  line-height: 150%;
  color: #333333;
}

.description-base {
  margin-bottom: 60px;
}

footer {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
  padding: 10px 0;
}

footer .navbar-brand img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

footer .copyright {
  padding-left: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .copyright h3 {
  font-size: 15px;
  line-height: 150%;
  color: #333333;
}

footer .copyright p {
  font-size: 15px;
  color: #777777;
}

footer .bg-box img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.category {
  padding: 30px 0;
}

.category h1 {
  font-size: 31px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 5px;
}

.breadcrumb {
  padding-left: 0;
  background-color: transparent;
}

.breadcrumb li {
  padding-right: 10px;
}

.breadcrumb li a {
  font-size: 17px;
  line-height: 150%;
  color: #555555;
}

.breadcrumb li.active {
  font-size: 17px;
  line-height: 150%;
  color: #777777;
}

.breadcrumb > li + li:before {
  content: url("../img/icon/arr-right.png");
  margin-right: 10px;
}

.category-item {
  margin-bottom: 30px;
}

.category-item .overlay-play {
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.59)), to(rgba(0, 0, 0, 0.59))), url(image.png);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(image.png);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(image.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(image.png);
  -webkit-box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.05);
}

.category-item .overlay-play .play-info {
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  padding: 3px 10px;
}

.category-item .overlay-play .play-info img {
  width: 9px;
  height: 12px;
}

.category-item .overlay-play .play-info span {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  margin-left: 5px;
}

.category-item .overlay-play .play-lg {
  display: inline-block;
  width: 84px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -42px;
  margin-top: -42px;
}

.category-item .overlay-play .play-lg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.category-item:hover .overlay-play {
  opacity: 1;
}

.category-item-img {
  width: 100%;
  height: 250px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.category-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-item-caption {
  overflow: hidden;
  padding-top: 20px;
  height: 121px;
  overflow: hidden;
}

.category-item-caption h3 {
  font-size: 17px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 5px;
}

.category-item-caption p {
  font-size: 15px;
  line-height: 18px;
  color: #777777;
}

.pagination > li > a, .pagination > li > span {
  font-size: 18px;
  line-height: 100%;
  color: #777777;
  border: none;
  padding: 10px 15px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-right: 2px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background: #E48B00;
  color: white;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: #E48B00;
  color: white;
}

.inside-img {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.inside-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inside-caption h2 {
  font-size: 31px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 15px;
}

.inside-caption p {
  font-size: 17px;
  line-height: 150%;
  color: #333333;
}

.inside-info {
  margin: 20px 0;
}

.inside-info p {
  font-size: 17px;
  line-height: 150%;
  color: #E48B00;
}

.inside-info p span {
  display: inline-block;
  margin-right: 5px;
  color: #626262;
  font-size: 16px;
}

.inside-btn {
  background: #E48B00;
  -webkit-box-shadow: 0px 5px 13px rgba(228, 139, 0, 0.15);
          box-shadow: 0px 5px 13px rgba(228, 139, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 10px 20px;
}

.inside-btn img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.inside-btn p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  font-weight: 600;
  padding-left: 20px;
}

.profile {
  padding: 24px 0;
  min-height: 550px;
  background: url("../img/main/kaip-bg.png") no-repeat center/cover;
}

.profile .breadcrumb li a {
  color: #FFFFFF;
}

.profile .breadcrumb li.active {
  color: rgba(255, 255, 255, 0.7);
}

.profile-img {
  width: 100%;
  height: 400px;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
}

.profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-caption h1 {
  font-size: 31px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.profile-caption p {
  font-size: 17px;
  line-height: 150%;
  color: #FFFFFF;
}

.section-404 {
  background: url("../img/main/404-bg.png") no-repeat center/cover;
  min-height: 100vh;
  text-align: center;
  padding-top: 220px;
}

.section-404 img {
  max-width: 260px;
  margin: 0 auto 60px auto;
}

.section-404 h1 {
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
}

.section-404 p {
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #D0D0D0;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.btn-orange {
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  padding: 10px 30px;
  background: #E48B00;
  -webkit-border-radius: 100px;
          border-radius: 100px;
}

.btn-orange:hover, .btn-orange:focus {
  color: #FFFFFF;
}

.search-box h1 {
  font-size: 31px;
  line-height: 150%;
  color: #333333;
}

.search-box h1 span {
  display: inline-block;
  margin-right: 5px;
  color: #888888;
  font-family: "SF Pro Display";
}

.subtitle {
  margin-bottom: 45px;
  font-size: 31px;
  line-height: 150%;
  color: #333333;
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-toggle .icon-bar {
    background-color: #333333;
  }
  .navbar {
    display: block;
  }
  .navbar-brand {
    padding: 0;
  }
  header {
    padding: 5px 0;
  }
  .navbar-nav li a {
    padding: 5px 20px;
  }
  .navbar-toggle {
    margin-right: 0;
  }
  .label-search {
    margin: 10px auto;
  }
  .label-search input {
    font-size: 14px;
  }
  .main {
    min-height: 280px;
    padding-top: 20px;
  }
  .main-caption img{
    /*padding-top: 75px;*/
    height: 180px;
  }
  .main-caption h1 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 15px;
    text-align: center;
  }
  .main-caption p {
    font-size: 14px;
    line-height: 22px;
  }
  .type-cover {
    padding: 20px 10px;
    margin-bottom: -20px;
  }
  .type-cover h2 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 20px;
  }
  .type-item {
    margin-bottom: 20px;
  }
  .type-item-caption {
    height: 60px;
    padding: 0 15px 15px 15px;
  }
  .type-item-caption h3 {
    font-size: 18px;
    line-height: normal;
  }
  .description-base-img {
    height: 260px;
  }
  .description-base-img img {
    margin: 20px auto;
  }
  .description-base-caption {
    padding-left: 0;
  }
  .description-base-caption h2 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 10px;
  }
  .description-base-caption p {
    font-size: 14px;
    line-height: 22px;
  }
  .footer {
    display: block;
  }
  .footer .copyright {
    padding-left: 70px;
  }
  .footer .copyright p {
    font-size: 12px;
  }
  .footer .bg-box {
    text-align: center;
    margin-top: 20px;
  }
  .profile {
    padding: 20px 0;
  }
  .profile-img {
    height: 300px;
    margin-bottom: 20px;
  }
  .profile-caption h1 {
    font-size: 20px;
    line-height: normal;
  }
  .profile-caption p {
    font-size: 14px;
    line-height: 22px;
  }
  .subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: normal;
  }
  .section-404 {
    padding-top: 100px;
  }
  .section-404 h1 {
    font-size: 22px;
    line-height: normal;
  }
  .search-box h1 {
    font-size: 20px;
    line-height: 22px;
    color: #333333;
  }
  .category-item-caption{
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav li a {
    font-size: 13px;
    padding: 10px;
  }
  .label-search {
    margin-top: 7px;
    width: 200px;
    padding: 5px 10px;
  }
  .label-search input {
    font-size: 12px;
  }
  .main {
    min-height: 300px;
    padding-top: 40px;
  }
  .type-cover {
    padding: 20px 15px;
  }
  .type-cover h2 {
    margin-bottom: 20px;
  }
  .type-item-caption {
    padding: 20px;
  }
  .type-item-caption h3 {
    font-size: 20px;
  }
  .description-base-img {
    height: 268px;
  }
  .description-base-img img {
    margin: 20px auto;
  }
  .description-base-caption {
    padding-left: 0;
    padding-top: 0;
  }
  .description-base-caption h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  footer .copyright {
    padding-left: 0;
  }
  .search-box h1 {
    font-size: 26px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .navbar-nav li a {
    font-size: 14px;
    padding: 10px 15px;
  }
  .label-search {
    margin-top: 7px;
    width: 300px;
    padding: 5px 10px;
  }
  .label-search input {
    font-size: 12px;
  }
  .main {
    min-height: 300px;
    padding-top: 40px;
  }
  .type-cover {
    padding: 20px 15px;
  }
  .type-cover h2 {
    margin-bottom: 20px;
  }
  .type-item-caption {
    padding: 20px;
  }
  .type-item-caption h3 {
    font-size: 20px;
  }
  .description-base-img {
    height: 268px;
  }
  .description-base-img img {
    margin: 20px auto;
  }
  .description-base-caption {
    padding-left: 0;
    padding-top: 0;
  }
  .description-base-caption h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  footer .copyright {
    padding-left: 0;
  }
}
